$blue: #0887ff;
$red: #f51837;
$darkgreen: #558645;
$green: #69c613;
$grey: #ababab;
$tileGrey: #638e9e;
$lightBlue: #0bb9d1;
$gold: #e6a050;

.main {
  width: 100%;
  height: 100%;
  border: 1px #000 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  z-index: -2;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 6vh 0 5vh;
  align-items: center;
}

.customPopup {
  z-index: 5;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 192px;
  padding: 24px;
  text-align: center;
  border-radius: 22px;
  font-size: 20px;
  cursor: pointer;
  background-color: $red;
  color: #fff;
}

.fb > i,
.pref > i {
  cursor: pointer;
  font-size: 11vw;
}

h3 {
  text-align: center;
  color: $blue;
  font-size: 9vw;
  color: #0887ff;
  font-weight: bold;
  line-height: 8vw;
}

h3 > span {
  font-size: 0.7em;
}

mark {
  background: none;
  color: $red;
}

.background {
  height: 70%;
  object-fit: contain;
  margin-top: 30%;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
}

.content div {
  text-align: center;
  margin: 12px auto;
  cursor: pointer;
  color: #fff;
  font-size: 10vw;
  font-weight: bold;
}

.content .circle {
  width: 23px;
  height: 23px;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
  display: inline-block;
}

.content .multiplayer {
  color: $red;
  .circle {
    background-color: $red;
  }
}

.disabled {
  color: $grey !important;
  &.circle {
    background-color: $grey !important;
  }
}

.content .currentLvl {
  color: $blue;
  .circle {
    background-color: $blue;
  }
}
.content .lvl {
  color: $darkgreen;
  .circle {
    background-color: $darkgreen;
  }
}

.content {
  overflow: auto;
  height: inherit;
  margin-top: 45px;
}

footer {
  height: 60px;
  width: 100%;
  background: lightseagreen;
  color: #fff;
  line-height: 60px;
  text-align: center;
}

.prefPopup ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.prefPopup {
  i {
    cursor: pointer;
  }
}

.prefPopup li {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.prefPopup li img {
  width: 100%;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $gold;
    font-size: 9vw;
    margin-left: 5px;
    white-space: nowrap;
  }
  img {
    width: 9vw;
  }
}

.prefPopup,
.pausePopup,
.loserPopup,
.winnerPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #fff;
  border: 1px lightblue solid;
  padding: 20px 60px;
  box-sizing: border-box;
  width: 90vw;
}

.multname {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  height: 25vh;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  text-align: center;
  &.top {
    margin-bottom: 25px;
  }
  &.bot {
    margin-top: 25px;
  }
}

.bg {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

tr td {
  width: 60px;
}
tr td:first-child {
  width: 250px;
}

.gameTile {
  text-align: center;
  cursor: pointer;
  background: $tileGrey;
  color: #fff;
  margin: 0.3vw;
  width: 15vw;
  height: 15vw;
  line-height: 15vw;
  border-radius: 19px;
  font-size: 30px;
  span {
    position: absolute;
    pointer-events: none;
    svg {
      height: 11px;
    }
    path {
      stroke: $red;
    }
    &.arrowUp {
      transform: rotate(-90deg) translate(32px, -35px);
    }
    &.arrowDown {
      transform: rotate(90deg) translate(32px, 30px);
    }
    &.arrowLeft {
      transform: rotate(180deg) translate(65px, -4px);
    }
    &.arrowRight {
      transform: translate(1px, -4px);
    }
  }
}
.selectedTile {
  background: $green;
}
.advisedTile {
  background: $lightBlue;
}
.gameContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.gameStatus {
  font-size: 11vw;
  margin: 0;
  display: inline-flex;
}
.gameType {
  font-size: 11vw;
  height: 19vw;
  display: inline-flex;
  align-items: center;
  i {
    height: 19vw;
    display: flex;
    align-items: center;
  }
}

.gameInfoWrap {
  display: flex;
  justify-content: space-around;
  margin-right: 33%;
  margin-left: 6%;
  align-items: center;
  margin-top: 15vh;
}

.wrongTile {
  background: $grey;
}

.timebar {
  background-color: $red;
  margin: 14px auto;
  height: 21px;
  width: 78vw;
  overflow: hidden;
  .current {
    height: 40px;
    width: 150vw;
    background: #fff;
    line-height: 40px;
    transform: translate(0, -9px);
    will-change: transform;
  }
}

.pause {
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 15px;
  font-size: 40px;
}

button {
  width: 170px;
  height: 60px;
  border: 3px #000 solid;
  border-radius: 18px;
  cursor: pointer;
}

.getClue {
  margin: 10px auto;
  background: $lightBlue;
  color: #fff;
  border: none;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
  align-items: center;
  font-size: 7vw;
  width: 82vw;
  i {
    font-size: 7vw;
  }
}

.pausePopup button,
.loserPopup button {
  margin: 10px 0;
  font-size: 19px;
  width: 100%;
  font-weight: bold;
  border-color: #009687;
  text-transform: capitalize;
  color: #fff;
  background-color: #009687;
}

.pausePopup button:first-child,
.loserPopup button:first-child {
  border-color: #0097f5;
  background-color: #0097f5;
}
.pausePopup button:last-child,
.loserPopup button:last-child {
  border-color: #ff3e30;
  background-color: #ff3e30;
}

.pausePopup,
.loserPopup,
.winnerPopup {
  border-radius: 10px;
  padding: 55px 55px;
  top: 45%;
  width: 90vw;
  box-sizing: border-box;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loserPopup {
  border-width: 5px;
  h4 {
    text-align: center;
    margin: 0 auto 10px;
  }
}
.winnerPopup {
  h4 {
    margin: 10px auto;
    text-align: center;
  }
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

.tutorial {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #fff;
  padding: 20px 60px;
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px 50px;
  top: 45%;
  width: 90vw;
  background: #06bcd4;
  color: #fff;
  line-height: 31px;
  cursor: pointer;
  text-align: justify;
  box-sizing: border-box;
}

.highlight {
  border: 5px gold dashed;
  padding: 6px;
  z-index: 10;
  position: relative;
  background-color: #fff;
}

.animated {
  animation: tutorialFlash 1.2s ease-in infinite alternate;
}

.timebarWrap {
  padding: 11px;
  overflow: hidden;
}

.clueWrap {
  padding: 0 !important;
}

@keyframes tutorialFlash {
  from {
    background-color: #06bcd4;
  }
  to {
    background-color: lighten(#06bcd4, 20%);
  }
}

.logged {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    border-radius: 50%;
    width: 11vw;
  }
  span {
    margin-top: 5px;
    cursor: pointer;
  }
}

header span {
  flex-basis: 33%;
  text-align: center;
}

app-loader {
  z-index: 15;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
}

.multiplayer {
  .timebarwrap {
    margin: 10px 0;
  }

  .gameType {
    position: absolute;
    top: 25px;
    left: 22px;
  }

  .gameStatus {
    font-size: 91vw;
  }

  flex-direction: row;
  .mainContentWrap {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    width: 100%;
    justify-content: center;
    height: 100vh;
  }
  .multiplayerScore {
    font-size: 37px;
    width: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    color: $darkgreen;
    .matchesCount {
      font-size: 0.6em;
      color: $red;
      white-space: nowrap;
    }
  }
  .playerTotalScore {
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0px 12px -18px 0px;
  }
  .playerTotalScore > span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .timebar {
    margin: 0 auto;
    width: 64%;
    .current {
      height: 34px;
      line-height: 30px;
    }
  }

  h2 {
    margin: 10px;
    font-size: 25px;
  }

  .gameTile {
    width: 12vw;
    height: 12vw;
    line-height: 12vw;
    font-size: 7vw;
    border-radius: 13px;
  }
  .gameContent {
    width: 75%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .playerGameInfo {
    display: flex;
    width: 52%;
    margin: 0 auto 2px;
    align-items: flex-end;
    justify-content: space-between;
    &.enemy {
      margin: 0 auto;
    }
    span {
      color: $grey;
      img {
        width: 20px;
        // filter: grayscale(1);
      }
    }

    div {
      font-size: 40px;
    }
  }
}
